<ion-view view-title="VIDEOS">
  <ion-content>
    <!-- texto video -->
  	<div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>IMPORTANCIA DEL AGUA</h2>
          <br>
          <h1>El agua es el elemento más importante para la vida. Es de mucha importancia para el ser humano, así como para el resto de animales y seres vivos que habitan en el planeta Tierra.</h1>
          <br>
        </div>
      </div>
    </div>
    <!-- video del agua -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>FECUNDACIÓN Y MÉTODOS ANTICONCEPTIVOS</h2>
          <br>
          <h1>Fecundación: es el proceso por el cual dos gametos se unen durante la relación sexual para crear un nuevo ser.<br><br> Los anticonceptivos: son los métodos que se deben utilizar para la prevención de embarazos en las mujeres.</h1>
        </div>
      </div>
    </div>
    <!-- video interactivo -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/m8U2l1FI3X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>EXPOSICIÓN (transporte activo y pasivo)</h2>
          <br>
          <h1>Mi Grupo</h1>
        </div>
      </div>
    </div>
    <!-- video Exposición -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/-ItQwG8koeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>EXPOSICIÓN</h2>
          <br>
          <h1>Grupo Sheila</h1>
        </div>
      </div>
    </div>
    <!-- video Exposición -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/xgT49OE97eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>EXPOSICIÓN</h2>
          <br>
          <h1>Grupo Mishel</h1>
        </div>
      </div>
    </div>
    <!-- video Exposición -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/TGzN_NSXJH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>EXPOSICIÓN</h2>
          <br>
          <h1>Grupo Diego</h1>
        </div>
      </div>
    </div>
    <!-- video Exposición -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/HmznOZtWgJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>EXPOSICIÓN</h2>
          <br>
          <h1>Grupo Christian</h1>
        </div>
      </div>
    </div>
    <!-- video Exposición -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="300" height="250" src="https://www.youtube.com/embed/u4ZuD3bCnHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>