<ion-view view-title="INFOGRAFÍAS">
  <ion-content>
  	<div class="container">
      <div class="row">
        <div class="col">
        <br>
        <h2>INFOGRAFÍAS</h2>
        <br>
        <h1>La reproducción sexual es el proceso de crear un nuevo organismo descendiente a partir de la combinación de material genético de dos organismos con material genético similar, comenzando con un proceso que se denomina meiosis, que es un tipo especializado de división celular; el cual se produce en organismos eucariotas.<br>Los gametos son los dos tipos de células especiales, uno más grande, el femenino, y otro más pequeño, el masculino. La fusión de estas dos células se llama fertilización y ésta crea un cigoto, que incluye material de los dos gametos en un proceso que se llama recombinación genética donde el material genético, el ADN, se empareja para que las secuencias de los cromosomas homólogos se alineen.</h1>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
       <div class="col">
        <div class="repro">
          <img src="https://github.com/GustavoHerrera11/Infografia/blob/master/Reproduccion.jpg?raw=true">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="repro2">
          <img src="https://github.com/DixonLemus3502/Infografia/blob/master/infografia.png?raw=true">
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
