<ion-view view-title="JUEGO DE MEMORIA">
  	<ion-content class="padding">
      <div class="container">
        <div class="row">
          <div class="col col-25"></div>
          <div class="col col-50">
            <h2>¡JUEGA Y APRENDE!</h2>
            <div id="picbox">
              <span id="boxbuttons">
                <span class="button">
                  <span id="counter">0</span>
                  Intentos
                </span>
                <span class="button" ng-click="ResetGame()">
                  Reiniciar
                </span> 
              </span>
              <div id="boxcard"></div>
            </div>
          <div class="col col-25"></div>
          </div>
        </div>
      </div>
	</ion-content>
</ion-view>
