<ion-view view-title="VIDEOS">
  <ion-content>
    <!-- texto video -->
  	<div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>IMPORTANCIA DEL AGUA</h2>
          <br>
          <h1>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.</h1>
          <br>
        </div>
      </div>
    </div>
    <!-- video -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>FECUNDACIÓN Y MÉTODOS ANTICONCEPTIVOS</h2>
          <br>
          <h1>Fecundación es el proceso por el cual dos gametos (masculino y femenino) se unen durante la relación sexual para crear un nuevo ser con un genoma derivado de ambos progenitores.<br><br>ANTICONCEPTIVOS: Son los métodos que previenen un embarazo en mujeres, ya sean ellas o sus parejas quienes los usen. Pueden ser hormonales o no hormonales, transitorios o definitivos.</h1>
        </div>
      </div>
    </div>
    <!-- video interactivo -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m8U2l1FI3X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>