<ion-view view-title="IMPORTANCIA DEL AGUA">
  <ion-content>
    <!-- texto video -->
  	<div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h2>IMPORTANCIA DEL AGUA</h2>
          <br>
          <h1>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.</h1>
          <br>
        </div>
      </div>
    </div>
    <!-- video -->
    <div class="container">
      <div class="row">
        <div class="col video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>